/* 左侧 logo 区域：占左半部分 */
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;                     /* 两个 logo 间距 */
  width: 40%;                    /* ✅ 左半部分 */
  height: 10px;
}
/* logo 图片样式 */
.logo-container img {
  height: auto;
  max-height: 60px;              /* 防止过大 */
}

/* 父容器：让 logo-container 和 myLinks 同行 */
.topnav {
  background-color: #13294b9d;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;                 /* ✅ 开启 flex 布局 */
  align-items: center;           /* 垂直居中 */
  justify-content: space-between;/* 两边分布 */
  padding: 5px 3%;               /* 适当左右内边距 */
  box-sizing: border-box;
}


/* 右侧链接区：占右半部分 */
.topnav #myLinks {
  display: inline;
  justify-content: flex-end;
  align-items: center;
  width: 60%;                   
}

.topnav a.icon {
  display: none;
}

/* .topnav img {
  margin-bottom:0pt;
  margin-top:10pt;
  margin-left:30%;
} */
/* 修改原来的 .topnav img 样式：去掉 margin-left */
.topnav img {
  margin-top: 10pt;
  margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.topnav a.normal {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 9px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a.normal:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.right {
  margin-right:30%;
}

@media print, screen and (max-width: 1000px) { 

  .topnav {
    flex-direction: column;        /* 垂直排列 */
    align-items: center;           /* 居中 */
    height: auto;               
    padding: 20px 0;               
  }
  
  .topnav img {
      margin-left:3%;
    }

  .topnav a.right {
      margin-right:3%;
    }

  .topnav a.normal {
      padding: 10px 5px;
  }

  .logo-container
  {
    width: 80%;                   /* 占满整行 */
    justify-content: right;       /* 居中对齐 */
  }

  #myLinks {
    width: 100%;                   /* 各自占一整行 */
    justify-content: center;       /* 居中对齐 */
    /* padding: 40px 0;  */
  }

  .logo-container img {
    max-width: 40vw;               /* 宽度不超过屏幕宽度的 40% */
    height: auto;                  /* 按比例缩放 */
  }


  .topnav .icon {
    position: absolute;
    top: 50%;                      /* 放在导航栏中线 */
    color: white;
    font-size: 26px;
    cursor: pointer;
    margin-top: 6px;
  }

  
 }

 @media print, screen and (max-width: 1200px) and (min-width: 1001px) { 

  .topnav img {
      margin-left:6%;
    }
  .topnav a.right {
      margin-right:6%;
    }

 }

 @media print, screen and (max-width: 1400px) and (min-width: 1201px) { 

  .topnav img {
      margin-left:12%;
    }
  .topnav a.right {
      margin-right:12%;
    }

    }


 @media print, screen and (max-width: 1600px) and (min-width: 1401px) { 

  .topnav img {
      margin-left:16%;
    }
  .topnav a.right {
      margin-right:16%;
    }

 }

 @media print, screen and (max-width: 1800px) and (min-width: 1601px) { 

  .topnav img {
      margin-left:19%;
    }
  .topnav a.right {
      margin-right:19%;
    }

 }

 @media print, screen and (max-width: 2000px) and (min-width: 1801px) { 

  .topnav img {
      margin-left:22%;
    }
  .topnav a.right {
      margin-right:22%;
    }

 }


 @media print, screen and (max-width: 480px) { 
  .topnav #myLinks {
      display: none;
    }
 }

 @media print, screen and (max-width: 960px) { 

  .topnav #myLinks {
      display: none;
    }

    .topnav a.normal {
      color: white;
      float: none;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    .topnav a.icon {
      color: white;
      display: block;
      padding: 10px 16px;
      font-size: 17px;
      position: absolute;
      float: right;
      right: 0;
      top: 0;
      margin-right:5%;
    }

    .topnav a.right {
      color: white;
      float: none;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      margin-right:0;
    }
 }
 